* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid {
	background-color: black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
	align-items: center;
  height: 600px;
  width: 600px;
}

.grid div {
	display: flex;
  height: 40px;
  width: 40px;
}
.invader {
 
	/*background-image: url(https://srv.latostadora.com/designall.dll/alien_space_invaders--i:1413853013881413851;d:301388;w:240;b:000000;m:1.jpg);*/
	background-image: url(https://cdn.dribbble.com/users/17878/screenshots/668368/attachments/58925/space_real.png?compress=1&resize=400x300&vertical=top);
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	
}
.player {
	background-image: url(https://img.tapimg.net/market/icons/492a8320316d2765ffe303ac20743778_360.png?imageMogr2/auto-orient/strip);
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}
.laser {
	
  background-image: url(https://wiki.computationalthinkingfoundation.org/wiki/images/d/d0/SpaceInvadersLaserDepiction.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.boom {
	background-color: red;
}
.bomb {
	background-color: blue;
}


